body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
    height: 100%;
}

h1 {
    color: azure;
}

footer {
    background-color: #191919;
}

h1.title {
    text-align: center;
}

.error {
    border-color: red;
    color: red;

}


img {
    height: 100vh;
}